
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items:stretch;
  align-items: stretch;
  padding:10px;
}
.pagination{
  display: inline-flex;
  width:100%;
  justify-content: center;
  align-items: center;
  
}

.arrows{
  display: inline-flex;
  width:100px;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(0,116,236,.929412);
  border-radius: 20px;
  
}


.button{
  display: inline-block;
  color: white;
  background-color:white;
  width: 1%;
  height: 10px;
  margin-top: 5px;
}

.prev{
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 20px;
  margin-bottom: 5px;
}
.next{
  margin-left:10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 20px;
  margin-bottom: 5px;
}

.left{
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.right {
  display: inline-block;
  width: 0px; 
  height: 0px; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.poke-loading{
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  padding: 17.5%;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border-top: 2px solid #ef5350 ;
    border-right: 2px solid #ef5350;
    border-left: 2px solid #ef5350;
    border-bottom: 2px solid #ef5350;
    background: linear-gradient(to top, white 0%, white 50%, #ef5350 50%, #ef5350 100%);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
