
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items:stretch;
  align-items: stretch;
  padding:10px;
}




.button{
    margin: 20px;
    background-color: brown;
}